<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lançamento de Divergências</title>
</head>
<body>
    <h2>Área de divergências</h2>
    <form  method="get">
        <label for="numerodaauditoria">Número da Auditoria:</label>
        <input type="number" name="numerodaauditoria" id="numerodaauditoria">
        <button type="submit">Buscar</button>
    </form>
    <p>Dados da Auditoria:</p> <br><br>
    <h3>Inserir Divergências:</h3> <br>
    <form action="#" method="post">
        <label for="codigoproduto">Código Produto</label>
        <input type="number" name="codigoproduto" id="codigoproduto" placeholder="Inisira o número do produto", required>
        <br><br>
        <label for="produto">Produto:</label>
        <input type="text" name="produto" id="produto" placeholder="Nome do Produto" required>
        <br><br>
        <label for="valor">Valor:</label>
        <input type="number" name="valor" id="valor" placeholder="Valor do Item" required>



    </form>
    
</body>
</html>